<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/userlogin.css">
    <!-- SweetAlert2 CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.4/dist/sweetalert2.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>userAuthentication</title>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.4/dist/sweetalert2.all.min.js"></script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js " defer ></script>





</head>
<body>
    {{{body}}}

</body>
</html>

