<link rel="stylesheet" href="/public/userHome.css">
<div class="navbar">
    <h1>Tech talk with Rinsha</h1>
    <a href="/user/logout">
    <button class="logout-btn">logout</button></a>
    
</div>
<div class="hero">
    <div class="wlcome-card">
        <h1>welcome to tech talk with Rinsha</h1>
        <p>subscribe to stay updated</p>
        <button class="subscribe-btn">subscribe</button>

    </div>

</div>
<script>
     const message="{{{message}}}"
  if(message){
    Swal.fire(message)
  }
</script>